* 
{
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
}

body  
{
  width:  100%;
  height: 100vh;

  overflow: hidden;

  background-color: #282E36;
  color: #fff;
}
  
section 
{
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  
  width:  100%;
  height: 100%;
}

section section
{
  scroll-snap-align: start;
  scroll-snap-stop: always;

  overflow: hidden;

  width:  100%;
  height: 100%;

  /*display: grid;
  place-items: center center;*/
}

section main 
{
  width:  100%;
  height: 100%;

  display: grid;
  place-items: center center;
}

canvas 
{
  display: grid;
  place-items: center center;
}


.div_intro{
  padding-top: 10vh;
  padding-bottom: 5vh;
  font-family:'Merriweather', serif;
  text-align:center;
}

h1{
  font-size: 22px;
  margin-bottom:10px;
  font-style: italic;
}

h2{
  font-size: 16px;
  text-transform: uppercase;
}


.about
{
  font-family:'Lato', sans-serif;
  font-size: 14px;
  text-align: justify;
}


.line
{
  background-color: #fff;
  padding: 0.2px;
}


.line, .about
{
  width: 900px;
  margin: auto;
  margin-top: 20px;
}


/*BOTÃO SCROLL DOWN*/
#btn_down 
{
  position:fixed;
  bottom: 20px;
  width: 100%; 
  text-align: center;
}

a{
  color:#dc388b;
}

img{
  width: 50px;
  height: 50px;
}

/*IMAGEM PARTICLE*/
#particle
{
  position: absolute;
  z-index: -1;
  
  right: 0px;
  bottom: 0px;
  
  width: 20vw;
  height: auto;
}


.footer{
  background-color: #282E36;
  height: 10vh;
  margin-left:20px;
  font-family:'Lato', sans-serif;
  line-height: 22px;
}